<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>布局</title>
        <link rel="stylesheet" href="layoutCommon.css">
        <link id="css" rel="stylesheet" href="layout5.css">
    </head>
    <body>
        <header>
            <div class="nav">
                <h2>Logo</h2>
                <nav class="navlink">
                    <ul>
                        <li><a>github</a></li>
                        <li><a>register</a></li>
                        <li><a>login</a></li>
                    </ul>
                </nav>
                <div class="clearfix"></div>
            </div>
        </header>
        <div class="banner">
            <span>banner</span>
        </div>
        <div class="content">
            <nav>
                <span class="connav connav-active">HOME</span>
                <span class="connav">PROFILE</span>
                <span class="connav">ABOUT</span>
            </nav>
            <div class="container">
                <div class="content1">content1</div>
                <div class="content2">content2</div>
                <div class="content3">content3</div>
            </div>
        </div>
        <footer>
            <span style="font-family:arial;">&copy;2018 ife.baidu.com 海带</span>
        </footer>
    </body>
</html>