.container{
    overflow:auto;
    box-sizing: content-box;
}
.content1{
    float: left;
    width:200px;
    box-sizing: border-box;
}
.content2{
    float: left;
    width:200px;
    margin:0 10px;
    box-sizing: border-box;
}
.content3{
    box-sizing: border-box;
    float:left;
    width: calc(100% - 420px);
}